[submodule "src/sim_px4_ros2"]
	path = src/sim_px4_ros2
	url = https://github.com/KasperMollerHansen/sim_px4_ros2.git
[submodule "src/ps4_msgs"]
	path = src/ps4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/nvblox"]
	path = src/nvblox
	url = https://github.com/nvidia-isaac/nvblox.git
[submodule "src/isaac_ros_common"]
	path = src/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
	branch = release-3.2
