[submodule "src/sim_px4_ros2"]
	path = src/sim_px4_ros2
	url = https://github.com/KasperMollerHansen/sim_px4_ros2.git
[submodule "src/isaac_ros_common"]
	path = src/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
	branch = release-3.2
[submodule "src/isaac_ros_nvblox"]
	path = src/isaac_ros_nvblox
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nvblox.git
	branch = release-3.2
